{% extends "base.html" %}


{% block main %}
<div class='chat-room-form'>
  <h1>新規チャットルーム</h1>
  <form method="post">
    {% csrf_token %}
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'>
        {{ form.name.label_tag }}
      </div>
      <div class='chat-room-form__field--right'>
        {{ form.name }}
      </div>
    </div>
    <div class='chat-room-form__field'>
    </div>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'>
        <label class='chat-room-form__label' for='chat_room_チャットメンバー'>チャットメンバー</label>
      </div>
      <div class='chat-room-form__field--right'>
        <select name="room[user_ids][]">
          <option>チャットするユーザーを選択してください</option>
          {% for u in users %}
            <option value={{ u.pk }}>{{ u.username }}</option>
          {% endfor %}
        </select>
        <input name="room[user_ids][]" type="hidden" value={{ user.pk }}>
      </div>
    </div>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'></div>
      <div class='chat-room-form__field--right'>
        <input type="submit" class="chat-room-form__action-btn">
      </div>
    </div>
  </form>
</div>
{% endblock %}
