<div class="post">
  <div class="post-header">
    <div class="author"><%= message.user.name %></div>
    <div class="datetime"><%= l message.created_at %></div>
  </div>
  <div class="content">
    <%= message.content %>
  </div>
  <%= image_tag message.image.variant(resize: '500x500'), class: "message-image"\
   if message.image.attached? %>
</div>