<div class="sidebar">
  <div class="sidebar-header">
    <%= link_to  current_user.name, edit_user_path(current_user), class:"current-user" %>
    <%= link_to  "チャットを作成する", new_room_path,  class: "create-room-btn" %>
  </div>
  <div class="rooms">
    <% @rooms.each do |room| %>
      <div  class="room">
        <%= link_to  room.name, room_messages_path(room), class: "room__link"%>
      </div>
    <% end %>
  </div>
</div>
