{% extends "base.html" %}


{% block main %}
<div class="account-page" id="account-page">
  <div class="account-page__inner clearfix">
    <div class="account-page__inner--left account-page__header">
      <h2>Log in</h2>
      <h5>登録しているユーザーでログイン</h5>
      {% include "users/_link.html" %}
    </div>
    <div class="account-page__inner--right user-form">
      <form method="post">
        {% csrf_token %}
        {% for field in form %}
          <div class="field">
            <div class="field-label">
              {{ field.label_tag }}
            </div>
            <div class="field-input">
              {{ field }}
            </div>
          </div>
        {% endfor %}
        <div class="actions">
          <input type="submit" value="Log in" class="btn">
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
